<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Home Page</title>
</head>
<body>
<h1 align="center">Home Page</h1>
<br>
<br>
<br>
<p align="center">New users click here to register: <a href="showRegistered">Register</a></p><br/>
<p align="center">Existing user click here to login: <a href="showLogin">Login</a></p>
</body>
</html>